@import "../scss/variables.scss";

.ApartmentCard {
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  &__subtitle {
    color: white;
    width: 50%;
    position: absolute;
    bottom: 0;
    margin-block-end: 1rem;
    margin-inline-start: 1rem;
  }

  &__link {
    position: relative;
    background-image: linear-gradient(to top, rgb(165, 61, 61), $color-primary);
    border-radius: 0.75rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    width: 30%;
    background-size: cover;
    height: 340px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .ApartmentCard__link {
    width: 45%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .ApartmentCard__link {
    width: 100%;
  }

  .ApartmentCard__subtitle {
    font-size: 22px;
  }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  .ApartmentCard {
    flex-basis: 100%;
  }

  .ApartmentCard__link {
    width: 100%;
    height: 280px;
  }

  .ApartmentCard__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 426px) {
  .ApartmentCard__link {
    width: 100%;
    height: 280px;
  }
}
