.apartment-grid {
  background-color: lightgray;
  border-radius: 1rem;
  padding: 2rem;
  gap: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 1441px) and (max-width: 2561px) {
  .apartment-grid {
    padding: 3rem 2rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1441px) {
  .apartment-grid {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 1025px) {
  .apartment-grid {
    flex-direction: column;
  }
}
@media screen and (max-width: 769px) {
  .apartment-grid {
    justify-content: center;
    padding: 0;
    flex-direction: column;
    background-color: white;
  }
}

@media screen and (max-width: 426px) {
  .apartment-grid {
    padding: 0;
  }
}
