.banner {
  position: relative;
  max-width: 80vw;
  padding-inline: 2rem;
  min-height: 140px;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
    border-radius: 1rem;
  }

  h2 {
    position: relative;
    z-index: 2;
    font-weight: 100;

    @media screen and (min-width: 1024px) {
      letter-spacing: 2px;
    }
  }

  @media screen and (max-width: 426px) {
    min-height: 110px;
    justify-content: flex-start;
    background-size: 225% auto;

    h2 {
      width: 12rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    font-size: 20px;
  }
}
