.location-grid {
  background-color: lightgray;
  border-radius: 1rem;
  padding: 2rem;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .location-grid {
    justify-content: center;
    background-color: white;
  }
}
